.white{
  color: #FEF7EE;
}
.span{
  color: #6F757C;
}
.nameSize{
  font-size: 0.875rem;
  position: relative;
  top: 3px;
}
.pop{
  border-radius: 25px;
  background-color: #F6C768;
  font-size: 0.625rem;
  font-weight: 600;
  padding: 2px 10px;
}
.borderImg{
  border-radius: 15px;
  cursor: pointer;
}
.votes{
  font-size:  0.75rem;
  font-weight: 600;
}
.price{
  border-radius: 3px;
  background-color: #BDE3CC;
  padding: 5px;
  font-size:   0.75rem;
  font-weight: 700;
}
.soldOut{
  color: #ED735D;
  font-size:  0.75rem;
  font-weight: 600;
}
.star{
  position: relative;
  bottom: 6px;
}