@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans", sans-serif;
}
.relativo{
  min-height: 100vh;
  background-color: #111315;
}
.bg-collection{
  background-color: #1B1D1F;
  padding: 42px 55px;
  border-radius: 10px;
  top: -165px;
}
/* Más responsive */
@media screen and (max-width:1224px) {
  .bg-collection{
    top: -120px;
  }
}
@media screen and (max-width:1024px) {
  .bg-collection{
    top: -100px;
  }
}
@media screen and (max-width:924px) {
  .bg-collection{
    top: -80px;
  }
}
@media screen and (max-width:724px) {
  .bg-collection{
    top: -60px;
  }
}

@media screen and (max-width:524px) {
  .bg-collection{
    top: -50px;
  }
}
